<div class="panel panel-success">
  <div class="panel-heading">

  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-6">
        <div>
          <p> <small id="intro">{{profile.login}}</small></p>
          <img src="{{profile.avatar_url}}" alt="profile image" class="img-circle img responsive">
        </div>

      </div>
      <div class="col-md-6">
        <div class="list-group">
          <ul>
            <li class="list-group-item">Bio <br>{{profile.bio}}</li>
            <li class="list-group-item"> I am currently working in {{profile.location}}</li>
            <li class="list-group-item">I am also a student at {{profile.company}}</li>
          </ul>
        </div>
        <button class="btn btn-primary">{{profile.followers}} Followers</button>
        <button class="btn btn-danger">Following {{profile.followers}}</button>
        <button class="btn btn-success">{{profile.public_repos}} Public Repos</button>
        <br>
        <a href="{{profile.htm_url}}" class="label label-info">View On Github</a>
      </div>
    

    </div>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    REPOS
  </div>
  <div class="panel-body" >
    {{repo.full_name}} <br> {{repo.description}}, <br> {{repo.htm_url}}
  </div>

</div>
