
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
            <h1 class="effect-box" >G<i class="fab fa-github"></i>t-Search</h1>
          <ul class="nav navbar-nav">
              <li><a routerLink='/home' routerLinkActive="router-link-active" > <i class="far fa-home-lg-alt"></i> Home</a></li>
              <li><a  routerLink='/users' routerLinkActive="router-link-active" > <i class="far fa-search-plus"></i>Search</a></li>

          </ul>
      </div>
  </nav>

 
  <div id="text-carousel" class="carousel slide" data-ride="carousel">
      <div class="row">
          <div class="col-xs-offset-3 col-xs-6">
              <div class="carousel-inner">
                  <div class="item active">
                      <div class="carousel-content">
                          <div>
                              <p class="write">
                                "It has become appallingly obvious that our technology has exceeded <br> our humanity."
                                  <br>
                                  <span class="about"> -Albert Einstein</span>
                              </p>
                              
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="carousel-content">
                          <div>
                              <p class="write">
                                "The world won't care about your self-esteem. The world will expect you to accomplish something BEFORE you feel good about yourself."
                                  <br>
                                  <span class="about"> -Bill Gates</span>
                              </p>
                             
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="carousel-content">
                          <div>
                              <p class="write">
                                "Fork your repositories wisely"
                                  <br>
                                  <span class="about"> -Someone in Moringa</span>
                              </p>
                              
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <a class="left carousel-control" href="#text-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#text-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>

  </div>
