<div class="container">
<nav>
  <h1 class="brand"><span>Git</span>   <span id="search">Search</span></h1>
  <ul>
    <li><a  [routerLink]="['/home']" routerLinkActive="router-link-active" class="link" >Home</a> </li>
    <li><a  [routerLink]="['/search']" routerLinkActive="router-link-active" class="link">Search</a> </li>
    <li><a href="">About</a> </li>
  </ul>
</nav>

<div class="content">
    <i class="fab fa-github" id="git"></i>
    <p class="clearfix" id="land"><span>Git</span>   <span id="search">Search</span></p>
<h2>Find Github Members</h2>
<h4>Just Click on the search Button to find them </h4>
</div>
</div>